/*Sätter typsnit på alla text element */

html, body {
    font-family: Arial,x-locale-body,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding:2em;
}

.wrapper {
    flex: 1 0 auto;
}
.userNamePost {
    color: grey;
}

.titlePost{
    font-weight: bold;
}
.datePost{
    color: #004d00;
    font-style: italic;
}
                  

/*bestämmer bredd för oordnad lista i klassen middlebody */

.middlebody ul {
    width: 300px;
}

/* Bestämmer bredd och position för fotnoterna*/

footer {
    width: 100%;
    background-color: #b3b3b3;
    /*flex-shrink: 0;*/
}

header {
    background-color: #b3b3b3;
    padding: 5px;
}

/*Bestämmer var loggan ska positionerad */

.logo {
    display: inline-block;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

/* Sätter linjehöjd på text i loggan*/

.logo h1 {
    line-height: 0.5em;
}

/* Gömmer navigate-button*/

#navigate-button {
    display: none;
}

/* Sätter style på elementet input*/

input {
    color: white;
    border-bottom: 2px solid #b2b2b2;
    background-color: #333333;
    border-radius: 5px;
    width: 7em;
    height: 2em;
    font-weight: normal;
}

/* sätter färg på input när pekaren drar över input fältet*/

input:hover {
    color: #738c8c;
}

/* sätter färg på input när pekaren drar över a fältet*/

a {
    text-decoration: none;
}

a:visited {
    color: #004d00;
}

a:active {
    background-color: #527a7a;
    border-radius: 5px;
}

a:hover {
    color: #738c8c;
}

/* sätter färg på input när pekaren drar över logo fältet*/

.logo a:hover {
    text-decoration: none;
}

/*tar bort text dekoration från a elementet*/

.logo a {
    text-decoration: none;
}

.logo a:active {
    background-color: initial;
}

/*Väljer texttyp och färg på elemetet a i nav med id header*/

#header-nav a {
    font-size: 1.2em;
    /*color: #333333;*/
}

/* Drop down button style START */

.dropbtn {
    color: #ffffff;
    border-bottom: 2px solid #b2b2b2;
    background-color: #333333;
    border-radius: 5px;
    text-shadow: 0px 1px 1px #ffffff;
    width: 7em;
    height: 2em;
    font-weight: normal;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Drop down button style END */

/* Sätter style på alla källor med classen source*/

.source {
    font-style: italic;
    color: #738c8c;
}

.right-footer {
    margin-left: 10px;
}

.lowbody, .middlebody {
    margin-left: 10px;
    margin-right: 10px;
}

.left-footer div a {
    background-color: initial;
}

.left-footer div a:active {
    text-decoration: none;
}

/* Ökar storleken på ramen runt alla th element */

#membershipTable th {
    border-top: 2px solid #000;
    border-bottom: 3px solid #000;
}

/* Sätter bakgrunsfärg på alla tr element med class even till #efefef */

#membershipTable tr.even {
    background-color: #efefef;
}

#membershipTable tr:hover {
    background-color: #c3e6e5;
}

#mainpage {
    background-image: url(../images/daniil-silantev-cKT2WBaIXVU-unsplash.jpg);
}
.middlebody article {
    background-color: #d9d9d9;
}

/* style för minsta webbläsarfönster/mobil användare */

@media only screen and (max-width:500px) {
    footer, header {
        text-align: center;
        /*centrerar texten på elementet footer och header*/
    }
    #lowbody input {
        text-align: center;
        /*centrerar texten på elementet input med id lowbody*/
    }
    #header-nav a {
        display: block;
        /*Visar elemet a med id header-nav som ett block, tar upp hela bredden*/
    }
    .hidden {
        display: none;
        /* Gömmer element med klassen hidden*/
    }
    .show {
        display: block;
        /*Visar element med klass show som ett block, tar upp hela bredden*/
    }
    #navigate-button {
        display: block;
        margin: auto;
    }
    .middlebody {
        /*placerar texten i element i mitten. placerar element i kolumner och centrerar genom flexbox.*/
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #climate-middlebody-links {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #climate-middlebody-links div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerbody {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #climate-lower-body {
        text-align: center;
    }
    #reuse-lowerbody-link-div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .middlebody-links {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerbody-links {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .middlebody-links div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Sätter style för mellan storlek/surfplatta*/

@media only screen and (min-width: 501px) and (max-width:800px) {
    header {
        text-align: center;
    }
    #lowbody input {
        text-align: center;
    }
    #header-nav a {
        display: block;
    }
    .hidden {
        display: none;
    }
    .show {
        display: block;
    }
    #navigate-button {
        display: block;
        margin: auto;
    }
    .middlebody {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerbody {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #climate-lower-body {
        text-align: center;
    }
    #reuse-lowerbody-link-div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
        /*Visar elemnt i footern på rad med mellanrumgenom flexbox*/
        line-height: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
    }
    .left-footer div {
        padding: 20px;
    }
    .middlebody-links, .lowerbody-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .side-by-side {
        display: flex;
        justify-content: center;
    }
    #tomato-hands {
        margin-top: 20px;
    }
    /* Säter style och positionering på quote elementen*/
    #voltaire-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        font-size: 130%;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-top: 1px solid #665544;
        border-bottom: 1px solid #665544;
    }
    .middlebody-links div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #climate-lower-body {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Sätter style för stor storlek/datorskärm*/

@media only screen and (min-width: 801px) {
    #header-nav {
        text-align: center;
    }
    #header-nav input {
        position: absolute;
        margin-left: 5px;
    }
    .flexbox-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }
    #tomato-hands {
        margin-top: 20px;
    }
    /* Säter style och positionering på quote elementen*/
    #voltaire-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        font-size: 130%;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-top: 1px solid #665544;
        border-bottom: 1px solid #665544;
    }
    footer {
        line-height: 0.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left-footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
    }
    .left-footer div {
        padding: 20px;
    }
    /* Centrerar text och andra element i classen middle och lowerbody*/
    .middlebody {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerbody {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* placerar elementen i klassen side by side bredvid varandra*/
    .side-by-side {
        display: flex;
        justify-content: center;
    }
    #recycle-middlebody {
        display: flex;
        justify-content: center;
    }
    #self-sustain-article-container article {
        padding: 20px;
        flex: 1 1 0px;
        width: 0;
    }
    #self-sustain-article-container article p {
        text-align: left;
        padding: 10px;
    }
    #self-sustain-article-container article h2 {
        border-bottom: 2px solid #738c8c;
        border-top: 1px solid #999;
    }
    .middlebody-links, .lowerbody-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .middlebody-links div {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #climate-control-article {
        height: 500px;
        width: 400px;
        margin-left: 20px;
    }
    #recycle-article {
        width: 45%;
    }
    #reuse-lowerbody-link-div {
        display: flex;
        flex-direction: column;
    }
    #reuse-lowbody {
        margin-top: 60px;
    }
}